body {
    background-color: var(--main-color);
}

:root {
    --margin: 80px;
    --main-color: #8D7B68;
    --sec-color: #A4907C;
    --third-color: #C8B6A6;
    --text-color: #F1DEC9;
    --foot-color: #403D38;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    scroll-behavior: smooth;
}

p {
    font-family: sec;
    color: var(--text-color);
}

span {
    font-family: sec;
}

h2 {
    font-family: main;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "main";
    src: url(../FONT/Alegreya-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "sec";
    src: url(../FONT/AlegreyaSans-Regular.ttf);
    font-weight: 400;
}
/* ====END-GLOBAL==== */
.my-nav{
    z-index:9888 ;
}
.my-nav a {
    color: black;
    transition: all 0.5;
}

.my-nav a:hover {
    color: #9A8B6B;
}

.head {
    background-image: url(../images/drew-coffman-1872.jpg);
    background-position: center center;
    background-size: cover;
    height: 40vh;
    color: var(--text-color);
    margin-bottom: var(--margin);
}

.head .text {

    width: 50%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head h1 {
    font-family: main;
    font-size: 75px;
}
/* =====END-HEAD===== */  

.first h5{
    color: black;
}
.first .header .text::after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    top: 70%;
    left: 0;
    background-color: #403D38;
}


























.five {
    margin-top: var(--margin);
    background-color: var(--foot-color);
    color: var(--text-color);
}

.five ul {
    list-style: disc;
}

.five .icon {
    color: var(--text-color);
}

.back {
    position: fixed;
    right: 1%;
    bottom: 1%;
    border: 2px solid #403D38;
    background-color: var(--sec-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    transition: all 1s;
    z-index: 88989;
}

.back:hover {
    background-color: black;

}

/* =====END_five===== */
.last {
    margin-top: var(--margin);
    color: var(--text-color);

}

.last .icon .link {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    background-color: transparent;
    transition: all 1s;

}

.last .icon .link:hover {

    background-color: wheat;
}
.last i {
    color: white;
    transition: all 1s;
}
.last .icon .link:hover i{
    color: var(--foot-color);
}
/* =====END===== */
